:root{
    font-size: 62.5%;
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    background-color: #2b2b2b;
}
header{
    font-size: 3rem;
    color: #b0b0b0;
    font-weight: bold;
    background-color: #000000;
    overflow-x: auto;
}
h1{
    background-image: url(../img/vc-logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 4.5rem;
    float: left;
}
button{
    background-color: transparent;
    border: none;
    color: #b0b0b0;
    padding-right: 1rem;
    font-size: 2rem;
    float: right;
    display: block;
}
nav{
    display: none;
    font-size: 2rem;
    padding-top: 1rem;
    line-height: 2.5rem;
}
button:focus + nav{
    display: block;
    clear: both;
    text-align: center;
    
}
nav li a{
    text-decoration: none;
    color: #b0b0b0;
}